# Ignore profile images
uploads/profile_images/*
!uploads/profile_images/.gitkeep

# Ignore courses images
uploads/courses/*
!uploads/courses/.gitkeep

# Ignore configuration files with sensitive data
config.php